<%= @l.name %><br/>
<%= @l.address %><br/>
<%= @l.city %><br/>
<%= @l.state %><br/>
<%= @l.zip %><br/>
<%= @l.latitude %><br/>
<%= @l.longitude %><br/>

<div id="splat"></div>

<script>
var mymap = L.map('splat').setView([51.505, -0.09], 13);
</script>